<%# navbar styling %>
<% provide(:nav_path, (render 'layouts/course_path', nav_path: ['To-Do Evaluations'])) %>
<% notSubmittedEvals = current_user.evaluations.select {|evaluation| !evaluation.submitted}%>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Presentation Name</th>
            <th scope="col">Presentation Team</th>
            <th scope="col">Evaluation Due Date</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
    <%# iterate through all not submitted evals %>
    <% notSubmittedEvals.each do |evaluation| %>
        <tr>
            <th scope="row"><%=evaluation.presentation.name%></th>
            <%# convert into string %>
            <td><%= evaluation.presentation.users.map {|user| user.name}.join(",") %></td>
            <td><%= evaluation.duedate.to_formatted_s(:short) %></td>
            <td><a href="<%= edit_evaluation_path(evaluation)%>" class="btn btn-info" role="button">Submit Evaluation</a><td>
        </tr>
    <% end %>
    </tbody>
</table>