<% provide(:title, 'Home') %>
<div id="home-backdrop">
  <div class="center jumbotron">
    <h1>Fake Carmen</h1>
    <h2>
      This application was created by Team Exited With Code=0.
    </h2>
    <div class="button-container">
      <% if !logged_in? %>
        <%= link_to "Create an Account", signup_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
      <% else %>
        <h2>Welcome back, <%=current_user.name%></h2>
        <%= link_to "View Dashboard", announcements_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
