<% submittedEvals = @presentation.evaluations.select {|evaluation| evaluation.submitted}%>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Evaluation ID</th>
            <th scope="col">Score</th>
            <th scope="col">Comment</th>
        <tr>
    </thead>
    <tbody>
        <% submittedEvals.each do |evaluation|%>
            <tr>
                <th scope="row"><%= evaluation.id %></th>
                <td><%= evaluation.score %><td>
                <td><%= evaluation.evaluation %><td>
            </tr>
        <% end %>
    </tbody>
</table>

<hr>
<h2>Average Evaluation Score: <%= submittedEvals.inject(0.0) {|sum, eval| sum + eval.score} / submittedEvals.size %><h2>
