<div id="side-navbar">
    <ul>
        <li class="section">Home</li>
        <li class="section">Annoucements</li>
        <li class="section">Grade Reports</li>
        <li class="section"><%= link_to "Presentations", presentations_path %></li>
        <li class="section"><%= link_to "Make A New Presentation", new_presentation_path %></li>
        <li class="section"><%= link_to "Roster", users_path %></li>
    </ul>
</div>
<div id="side-navbar-spacer">
</div>