Your profile: <%= @user.name %>, <%= @user.email %>
<h1>Upcoming Assignments:</h1>
<h2>Presentations<h2>
<% @user.presentations.each do |p| %>
    <% if !p.submitted %>
        <%= link_to p.name, edit_presentation_path(p) %>
    <% end %>
<% end %>
<h2>Evaluations<h2>
<h1>Completed Presentations:</h1>
<% @user.presentations.each do |p| %>
    <% if p.submitted %>
        <%= p.name %>
    <% end %>
<% end %>
