<div class="sidenav">
  <a href="/presentations"><%= link_to "Presentations", current_user %></a>
  <a href="/evaluations">Evaluations</a>
  <a href="/students"><%= link_to "People", people_path %></a>
</div>